# Database
DB_URL=jdbc:postgresql://localhost:5432/sportik-backend
DB_USERNAME=your_database_username_here
DB_PASSWORD=your_database_password_here

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# gRPC Services
USER_SERVICE_ADDRESS=static://localhost:9090

# OpenTelemetry
OTLP_ENDPOINT=http://localhost:4317